<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>NeuroDispuesta :: Gestión de terapeutas y otros especialistas</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
		<div class="container-fluid">
			<a th:href="@{/}" class="navbar-brand">
				<img th:src="@{images/Tango_icon_nature.svg}" height="28" alt="NeuroDispuesta">
			</a>
			<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<div class="navbar-nav">
					<a th:href="@{/especialistas}" class="nav-item nav-link active">Especialistas</a>
					<a th:href="@{/inscritos}" class="nav-item nav-link">Inscritos</a>
					<a th:href="@{/apoderados}" class="nav-item nav-link">Apoderados</a>
					<a th:href="@{/citas}" class="nav-item nav-link">Citas</a>
				</div>
				<div class="navbar-nav ms-auto">
					<a th:href="@{/perfil}" class="nav-item nav-link">Mi perfil</a>
					<a th:href="@{/salir}" class="nav-item nav-link text-danger">Salir</a>
				</div>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="container">
			<div class="row" style="min-height: 120px;"></div>
			<div class="row">
				<div class="col">
				</div>
				<div class="col" style="min-width: 75%;">
					<div th:if="${list.isEmpty()}">
						<h4>Falta registrar a terapeutas y demás especialistas</h4>
						<br>
						<p>Puedes registrar uno nuevo utilizando los botones de la parte posterior.</p>
						<br>
					</div>
					<div th:if="${!list.isEmpty()}">
						<h4>Terapeutas registrados</h4>
						<br>
						<table class="table">
							<thead>
								<tr>
									<th>Nombre</th>
									<th>Apellido</th>
									<th>DNI</th>
									<th>RUC</th>
									<th>Correo E.</th>
									<th>Teléfono</th>
									<th>Inicio</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="especialista : ${list}">
									<td th:text="${especialista.nmbrs}">
									<td th:text="${especialista.apllds}">
									<td th:text="${especialista.dni}">
									<td th:text="${especialista.ruc}">
									<td th:text="${especialista.correoE}">
									<td th:text="${especialista.telf}">
									<td th:text="${especialista.fechaIngreso}">
									<td><a class="btn btn-info"
											th:href="@{/especialistas/{id}(id=${especialista.especialistaId})}">Editar</a>
									</td>
									<td><a class="btn btn-danger"
											th:href="@{/especialistas/{id}/eliminar(id=${especialista.especialistaId})}">Eliminar</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="d-flex">
						<a th:href="@{/especialistas/0}" class="btn btn-primary">Agregar</a>
					</div>
				</div>
				<div class="col">
				</div>
			</div>
			<div class="row" style="min-height: 120px;"></div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>
</html>