<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>NeuroDispuesta ::Agregar o modificar cita</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<div class="navbar-nav">
					<a th:href="@{/citas}" class="nav-item nav-link">Volver</a>
				</div>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="container">
			<div class="row" style="min-height: 120px;"></div>
			<div class="row">
				<div class="col">
				</div>
				<div class="col">
					<h4 th:if="${cita.id == 0}">Agendar cita nueva</h4>
					<h4 th:if="${cita.id > 0}">Modificar cita</h4>
					<br>
					<form action="#" th:action="@{/citas/guardar}" th:object="${cita}" method="post">
						<input type="hidden" th:field="*{id}" name="id" id="id">
						<div class="form-group">
							<label for="fecha">Fecha</label> <input type="date" class="form-control" id="fecha"
								th:field="*{fecha}" name="nmbrs">
						</div>
						<br>
						<div class="form-group blu-margin">
							<label for="participanteId">Elegir participante</label><select class="form-control"
								th:field="*{participanteId}" id="participanteId">
								<option th:each="ep : ${elegir_participantes}" th:value="${ep.id}"
									th:text="'Participante: ' + ${ep.id} + ': ' +${ep.nmbrs} + ' ' + ${ep.apllds}"></option>
							</select>
						</div>
						<br>
						<div class="form-group blu-margin">
							<label for="especialistaId">Elegir terapeuta</label><select class="form-control"
								th:field="*{especialistaId}" id="especialistaId">
								<option th:each="et : ${elegir_terapeutas}" th:value="${et.id}"
									th:text="'Participante: ' + ${et.id} + ': ' +${et.nmbrs} + ' ' + ${et.apllds}"></option>
							</select>
						</div>
						<br>
						<div class="form-group">
							<label for="modalidad">Modalidad</label> <input type="text" class="form-control" id="modalidad"
								th:field="*{modalidad}" name="modalidad">
						</div>
						<br>
						<div class="form-group">
							<label for="estado">Estado</label> <input type="text" class="form-control" id="estado"
								th:field="*{estado}" name="estado">
						</div>
						<br>
						<button type="submit" class="btn btn-success">Guardar</button>
						<button type="submit" class="btn btn-warning"
							th:formaction="@{/citas/volver}">Cancelar</button>
					</form>
				</div>
				<div class="col">
				</div>
			</div>
		</div>
		<div class="row" style="min-height: 120px;"></div>
	</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>

</html>